@font-face{
    font-family: "Ginger Reg";
    src: url("./fonts/Ginger/F37_Ginger_Pro_Bold.otf");
}

.colors{
    background-color: #001900;
    color: #7FAA7F;
    transition: all .5s ease-out;
}

.box{
    background-color: #001900;
    color: #7FAA7F;
    border: #7FAA7F 3px solid;
    transition: all .5s ease;
}

.em{
    font-family: Ginger Reg;
    /* border: black 1px solid; */
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

 .nav-link{
     display: flex;
    cursor: pointer;
    align-items: center;
    height: 32px;
}

.nav-link:hover{
    transition: all 1s ease;
    align-items: flex-start;
}

.sect-heads{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect-head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    font-size: 25vw;
    -webkit-text-stroke: 1px black;
    text-shadow: -5px 15px 4px rgba(0, 0, 0, 0.5);
}

.content{
    display: flex;
    flex-direction: row;
    width: 90%;
}

.sects{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    height: auto;
}

.sect-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.sect-p, .sect-p.p, .content-head{
    font-size: 20px;
}

.content-head{
    margin: 5px auto;
    font-size: 88px;
}

.sect-p{
    width: 80%;
    padding: 10px;
    border-radius: 16px;
    box-shadow: -5px 10px 4px rgba(0, 0, 0, 0.5);
}

.sect-p p{
    padding-left: 5px;
}

.sect-fig{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 25%;
    height: auto;
    margin-left: 60px;
    border-radius: 16px;
    border: black 1px solid;
}

#global-header, #nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#global-header{
    display: flex;
    flex-direction: column;
}

#nav-bar{
    z-index:10;
    position: fixed;
    justify-content: center;
    width: 60%;
    margin-top: 20px;
    background-color: #001900;
    border: #7FAA7F 3px solid;
    border-radius: 16px;
    box-shadow: -5px 10px 4px rgba(0, 0, 0, 0.5);
}

#nav-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 52px;
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}


#logo{
    position: fixed;
    align-self: flex-start;
    width: 50px;
    margin-left: 30px;
    margin-top: 30px;
}

#global-footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
}

#profilejpg{
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
    box-shadow: -5px 10px 4px rgba(0, 0, 0, 0.5);
}

#intro-sect{
    width: 100%;
}

#who-sect{
    width: 0%;
}

#who-sect .content-head{
    color: #e5cccc;
}

#what-sect{
    width: 0%;
}

#work-sect{
    width: 0%;
}